# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store
*.swp
*.lock

# Build artifacts
/build/
artifacts/
*.log
*_Screenshot.png
